@use "./settings" as *;

.colOpt1 {
  color: $colOpt1;
}
.colOpt2 {
  color: $colOpt2;
}
.colOpt3 {
  color: $colOpt3;
}
.colOpt4 {
  color: $colOpt4;
}
.colOpt5 {
  color: $colOpt5;
}
.colOpt6 {
  color: $colOpt6;
}
.colOpt7 {
  color: $colOpt7;
}
.colOpt8 {
  color: $colOpt8;
}
.colOpt9 {
  color: $colOpt9;
}
