@use "./settings" as *;

.input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 1px solid $color1;
  border-radius: 10px;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;

  &:focus {
    border: 1px solid $color2;
    transform: scale(102%);
  }
}
.textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 1px solid $color1;
  border-radius: 10px;
  resize: none;
  letter-spacing: 1px;
  min-height: 15vh;
  transition: 0.2s ease-in-out;

  &:focus {
    border: 1px solid $color2;
    transform: scale(102%);
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: $color1;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $color2;
  }
}
.offscreen {
  position: absolute;
  left: -9999999px;
}
.inactive-select {
  @include justify(center);
  gap: 15px;
  border: 1px solid $grey1;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  text-transform: capitalize;
  color: $grey1;

  svg {
    font-size: 1.5rem;
  }
  ul {
    display: none;
  }
}
.select-custom {
  @include justify(center);
  gap: 15px;
  border: 1px solid $color1;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: relative;
  text-transform: capitalize;
  z-index: 2;

  svg {
    font-size: 1.5rem;
  }

  &:hover {
    border: 1px solid $color2;
    transform: scale(102%);
  }
  &:hover ul {
    @include justify(center);
  }

  ul {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 95%;
    border-radius: 0 0 10px 10px;
    background: $white1;
    flex-direction: column;

    &:hover {
      @include justify(center);
    }

    li {
      letter-spacing: 1px;
      padding: 4px;
      width: 100%;
      user-select: none;
      text-align: center;

      &:hover {
        background: $color2;
      }

      &:last-child {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}
.btn {
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  border: 1px solid $color1;
  border-radius: 10px;
  cursor: pointer;
  background: none;
  color: $black1;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 90%;
  max-width: 240px;
  place-self: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 8px;
    background: $color2;
    height: 0;
    width: 0;
    transition: 0.4s ease-in-out;
    z-index: -1;
  }
  &:hover:enabled {
    transform: scale(102%);
    border: 1px solid $color2;
  }
  &:hover:enabled::before {
    height: 100%;
    width: 100%;
  }
  &:active::before {
    background: $color3;
  }
  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}
.errorMsg {
  color: $color4;
  letter-spacing: 1px;
}
.display {
  display: none;
}
.display-active {
  display: block;
}
.confirm {
  border: 1px solid $color5;
}
.error {
  border: 1px solid $color4;
}
.error,
.confirm {
  display: grid;
  gap: 15px;
  border-radius: 25px;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white1;
  z-index: 30;

  svg {
    font-size: 2rem;
  }
}
