@use "./settings" as *;

.service-form-container {
  @include justify(center);
  margin-top: 25px;

  .service-form {
    display: grid;
    width: 90%;
    max-width: 600px;
    gap: 15px;
  }
}

.param-container {
  display: grid;
  grid-template-columns: 50% 50%;

  .grid-container {
    display: grid;
    gap: 15px;
  }

  .price-container,
  .duration-container {
    width: 100%;
    @include justify(flex-start);
    gap: 15px;

    .input {
      text-align: center;
      width: 20%;
    }
  }
  .select-method-container {
    text-align: left;
    display: grid;
    gap: 15px;

    .select-method {
      width: 90%;
      max-width: 220px;
      place-self: center;
    }
  }
  .select-category-container {
    @include justify(flex-start);
    flex-direction: column;
    gap: 10px;

    .select-category {
      width: 90%;
      max-width: 360px;
    }
  }
}

.display-service-container {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;

  h2 {
    text-align: left;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: $font2;
    margin-left: 30px;
  }

  .category-container {
    border: 1px solid $grey1;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin: 5px;

    .service-container {
      border: 1px solid $color1;
      border-radius: 20px;
      width: 100%;
      max-width: 650px;
      padding: 10px;
      margin: 10px auto;
      display: grid;
      grid-template-columns: 25% 75%;

      &:hover {
        transform: scale(102%);
      }

      h3 {
        letter-spacing: 1px;
        font-family: $font2;
        font-size: 1.1rem;
        cursor: pointer;
        margin: 10px auto;
        text-transform: capitalize;
      }
      .active-container {
        border-right: 1px solid $color1;
        @include justify(center);
        gap: 5px;
      }
    }
  }
}
